<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @debtor.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @debtor.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @debtor.email %>
</p>

<%= link_to 'Edit', edit_debtor_path(@debtor) %> |
<%= link_to 'Back', debtors_path %>
